@{
    ViewData["Title"] = "Our Location";
}


<div class="lobby-landing">
    <div class="lobby-top-section container">
        <img class="header-bg"
             
             src="~/images/bg4.png" />
             <img class="memoji" src="~/images/bg3.png" />
        <div class="content-area">
            <h1 >Get the help you need.</h1>
            <p> Give us a few details and we’ll offer the best solution.</p>
               <span> Connect by phone, chat, email, and more. </span>
            <h5 class="mb-1 mt-4 text-5 text-uppercase">Our Store Location</h5>
            <span class="text-3 mb-4"> 3000 NE 4th St. Renton, WA 98056 </span>
            
            <p class="text-3 mb-4"><i class="far fa-clock"></i> Open Mon - Sun | 6am - 11pm</p>
            <h5 class="mb-1 mt-4 text-5 text-uppercase">Contact Us</h5>
            <p class="text-3 mb-1">
                <span class="text-primary text-4 me-2"><i class="fas fa-phone"></i></span>  1-800-MY-Buytopia
            </p>

            <p class="text-3 pb-4">
                <span class="text-primary text-4 me-2"><i class="fas fa-envelope"></i></span> buytopia23@gmail.com
            </p>
        </div>
    </div>
</div>
