

@{
    ViewData["Title"] = "Selected item";
}

    <div class="container pt-4 pb-5 text-center notfound">
       
        <p>We're sorry, but we couldn't find any products matching your search.</p>
    <p>Try Using fewer keywords</p>
        <a href="@Url.Action("Index", "Home")">Back to Home</a>
    </div>

