@model string
@using Buytopia.Utility
<div style="width:100%">
  
    @if (Model == SF.StatusSubmitted)
    {
        <p class="text-success">Your order will delivered in 5 days</p>
        <img src="~/images/OrderPlaced.png" width="100%" />
    }
    @if (Model == SF.StatusInProcess)
    {
        <p class="text-success">Your order is Sheeped will delivered soon</p>
        <img src="~/images/Shipped.png" width="100%" />
    }
    @if (Model == SF.StatusShipped)
    {
        <p class="text-success">Your order is out for delivery arives soon</p>
        <img src="~/images/OutForDelivery.png" width="100%" />
    }
    @if (Model == SF.StatusDelivered)
    {
        <p class="text-success">Your order is delivered</p>
        <img src="~/images/Deliverd.png" width="100%" />
    }
</div>