
@{
    ViewData["Title"] = "ZroCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<div  style="height:400px !important;">
<div class="bgWhiteBorder container">
<div class="row px-3 py-5">
    <div class="col-8">
            <h2 >Your Buytopia Cart is empty</h2>
            
    </div>
    <div class="col-4 text-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">Shop today's deals</a>
    </div>
</div>
</div>
    <br />
    <br />
</div>