@model Buytopia.Models.ViewModels.OrderDetailsViewModel
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<div class="bgWhite container">
    <div class="row px-3">
        <div class="col-8">
            <h2 class="text-success"><i class="fa-solid fa-check-circle" style="color: #56a745;"></i> Order placed, thanks!</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">New Order</a>
        </div>
    </div>

    @if (Model.OrderHeader != null)
    {
        <div style="color:forestgreen" class="p-3">
           Confirmtion will be sent to your email. Please see the order summary below.
            <br />
            Feel free to contact us if you have any questions.
        </div>
        <partial name="_IndividualOrderDetails" model="Model" />
    }
    else
    {
        <div class="text-danger">Error... Please try again.</div>
    }
</div>



